.top-rates {
  margin-top: var(--layout-margin-medium);
  height: 45rem;
  width: 100vw;
  max-width: 80rem;
  background-color: var(--color-layout-primary);
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  &__name {
    width:12rem;

    position: absolute;
    top:-4em;
    color: rgb(0, 0, 0);

    &--left {
        left: .5em;
 

    }

    &--right {

        right: .5em;
    
    }
  }
}
