.button {
  display: block;
  border: none;
  font-size: 1.45rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-layout-primary);
  background-color: var(--color-component-dark);
  height: 3.5rem;
  border-radius: 0.3rem;
  @include flexCentering(row);

  &:hover {
    cursor: pointer;
    background-color: var(--color-component-light);
  }
  &--main {
    margin-right: var(--layout-margin-small);
    width: 30rem;
  }
  &--calc {
    width: 15rem;
  }
}

.button--swap {
  display: block;
  border: none;
  background-color: var(--color-layout-primary);
  border-radius: 50%;
  height: 4.5rem;
  width: 4.5rem;
  @include flexCentering(row);
  &:hover {
    cursor: pointer;
    color: var(--color-font-strong);
  }
  &:focus {
    outline: none;
    border: 0.5px solid var(--color-component-light);
  }
}

.button--swap:hover .svg-swap {
  fill: var(--color-component-light);
}

.btns-wrapper {
  margin-top: var(--layout-margin-small);
  width: 100vw;
  max-width: 80rem;
  transform: translateX(2.5rem);
  height: 10rem;
  @include flexCentering(column);
  justify-content: space-between;
  @include setBreakpoint(tab) {
    margin-top: 0;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
