.converter {
  box-shadow: 0 2px 4px -4px rgba(0, 0, 0, 0.4);
  margin-top: var(--layout-margin-medium);
  background-color: #fff;
  width: 100vw;
  height: 50rem;
  @include setBreakpoint(tab) {
    width: 80rem;
  }
  @include flexCentering(column);
  justify-content: flex-start;

  &__rows-wrap {
    position: relative;
    height: 20rem;
    @include flexCentering(column);
    justify-content: space-evenly;
  }
}

.converter__heading {
  margin-top: var(--layout-margin-medium);
}

.converter__row {
  position: relative;
  width: 90vw;
  max-width: 35rem;
  display: flex;
  justify-content: space-between;
}

.converter__input {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  text-align: right;
  padding: var(--layout-margin-mini);
  width: 100%;
  min-width: 12rem;
  height: var(--height-imput-medium);
  font-size: 1.4rem;
  &:focus {
    outline: none;
    border: 1px solid var(--color-component-dark);
  }

  &-wrapper {
    position: relative;
    width: 65%;
  }
  &-label {
    width: 3rem;
    height: 1.8rem;
    @include flexCentering(row);
    //border: 1px solid black;
    position: absolute;
    top: -1.9em;
    left: 2em;
    background-color: var(--color-layout-secondary);
  }
}

.converter__swap-wrap {
  position: absolute;
  right: 22rem;
  top: 20rem;
  @include setBreakpoint(tab) {
    right: -7rem;
    top: 8rem;
  }
}

.converter__button-wrap {
  position: relative;
  width:90vw;
  @include setBreakpoint(bigmobile){
  width:35rem;
  }
}

.button--calc {
  position: absolute;
  right: 0;
}
