.currency-list {
  height: 60rem;
  width: 100vw;
  max-width: 80rem;
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__name {
    width: 12rem;
    position: absolute;
    top: calc(-1.5 * var(--layout-margin-small));
    color: var(--color-font-light);

    &--left {
      left: 0.5em;
    }

    &--right {
      right: 0.5em;
    }
  }
}

.currency-list__el {
  margin-bottom: var(--layout-margin-mini);
}

.currency__rates-wrapper {

  margin-top: var(--layout-margin-medium);
  margin-bottom: var(--layout-margin-mini);
  height: 40rem;
  overflow-y: scroll;
}
.currency__rates-wrapper {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.currency__rates-wrapper::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}


.currency-list__names-wrapper{


  width: 80vw;
  max-width: 80rem;
  display: flex;
  justify-content: space-evenly;
  align-items:flex-end;
  height: 2rem;
  transform:  translateY(3.75rem) translateX(3rem);  
  @media (min-width: 400px ){ width: 90vw;}

}

.rate-space{
  width: 6rem;
  color:transparent;
  pointer-events: none;

}

.rate-name {
  width: 10rem;

  color: var(--color-font-light);}