.currency-el {
  position: relative;
  z-index: -1;
  height: var(--height-component-medium);
  width: 95%;
  background-color: var(--color-layout-secondary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.3em;
  border: 1px solid rgb(231, 230, 230);

  &__part {
    width: 20%;
    text-align: center;
    font-size: 1.4em;
    position: relative;

    &--flag {
      transform: translateY(0.3em);
    }
  }
}

.change--up {
  color: var(--color-change-increase);
}
.change--down {
  color: var(--color-change-decrease);
}
