.btns-wrapper{
    margin-top: var(--layout-margin-small);
    width: 100vw;
max-width: 80rem;
transform: translateX(2.5rem);
height:10rem;

@include flexCentering(column);
justify-content: space-between;
    @include setBreakpoint(tab){
margin-top: 0;        
flex-direction: row;
justify-content: space-evenly;
    }
    
}